.page-shops {
    background-color: #eeeeee;
    ion-img img {
        object-fit: cover;
        height: 100%;
    }
    .loading-spinner {
        width: 5rem;
        height: 5rem;
        text-align: center;
        margin: 2rem auto;
    }
    .shop-card-icon-col {
        padding: 0;
    }
    .shop-card-content-col {
        padding: 0;
    }
    .shop-card-icon {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .shop-card-content {
        padding: 0 3vw;
    }
    .shop-card-content-title {
        font-size: 2rem;
        width: 90%;
        white-space: nowrap;
        line-height: 1.0;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
    }
    .shop-card-content-badge {
        margin-right: 4px;
        color: $ui-theme-primary;
        background-color: white;
        border: 1px solid $ui-theme-primary;
        font-size: 1rem;
    }
    .shop-card-content-button {
        background-color: #eee;
        box-shadow: none;
        color: #666;
        margin: 0 0.5rem 0 0;
        height: 2.5rem;
        padding: 0 0.5rem 0 0;
        border-radius: 2.5rem;
        font-size: 1rem; // border:1px solid $ui-theme;
    }
    .shop-card-content-button-image {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.5rem;
        border-radius: 100%;
    }
    .btn-primary {
        background-color: $ui-theme-primary;
        color: white;
    }
    .btn-secondary {
        background-color: $ui-theme-secondary;
        color: white;
    }
    .btn-warning {
        background-color: $ui-theme-warning;
        color: white;
    }
    .btn-danger {
        background-color: $ui-theme-danger;
        color: white;
    }
    .shop-card-content-label {
        font-size: 4vw;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        position: relative;
        margin: 0;
    } // .shop-card-content-desc {
    //     font-size: 1.5rem;
    //     font-weight: normal;
    //     line-height: 1.5rem;
    //     height: 4.5rem;
    //     overflow: hidden;
    //     width: 100%;
    //     text-overflow: ellipsis;
    //     white-space: pre-wrap;
    //     position: relative;
    // }
}