.page-forgot-password {
  background-color: $ui-theme;
  padding-top:30vh;
  .registerItem {
    margin-bottom: -1px;
    padding: 0;
    border-radius: 6px;
  }
  .registerInputIcon {
    padding-left: 2rem;
  }
  .registerInput {
    padding: 0.5rem;
  }
  .registerHead {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20%;
  }
  .register-button {
    height: 5rem;
    color: #fff;
    background-color:  $ui-theme-dark;
    margin-top: 3rem;
    border-radius: 5px;
    font-size: 1.6rem;
  }
  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    margin-left: 1rem !important;
  }
}