.page-user-registration {
  background-color: $ui-theme;
  .register-button-login {
    color: white;
    text-align: center;
    background-color: $ui-theme-dark;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .register-section-label {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 0.2rem;
  }
  .registerItem {
    margin-top: -1px;
    padding:2px;
    // border-top:1px solid #eee;
    // border-radius: 4px;
  }

  .registerInputIcon {
    padding-left: 2rem;
  }
  .registerInput {
    padding: 0.2rem 0;
    font-size: 1.6rem;
  }

  .registerHead {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
  }
  .register-button {
    height: 2.5rem;
    background-color: $ui-theme-dark;
    color: white;
    font-size: 1.6rem;
  }
  .register-button-item {
    margin-top: 3rem;
    border-radius: 5px;
    background-color: $ui-theme-dark;
  }
  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
    margin-left: 1rem !important;
}
.center-input-text {
  input {
    text-align: center;
  }
  .validation-error {
    input {
      background-color: #f00;
    }
  }
}
  // ion-list .item .item-inner {
  //   border-bottom: 2px solid #5DA2AD;
  // }
}

// .footer-user-registration {
//   .register-button {
//     height: 5rem;
//     background-color: #fff;
//     font-size: 1.6rem;
//     margin: 0px;
//   }
// }