.page-user-registration {
  background-color: $ui-theme;
  .register-button-login {
    color: #00f;
    text-align: center;
    width: 100%;
    height: 4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .register-section-label {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 0.2rem;
  }
  .registerItem {
    margin-bottom: 0.5rem;
    padding:2px;
    border-radius: 6px;
  }

  .registerInputIcon {
    padding-left: 2rem;
  }
  .registerInput {
    padding: 0.2rem;
  }

  .registerHead {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
  }
  .register-button {
    height: 2.5rem;
    background-color: #fff;
    font-size: 1.6rem;
  }

  // ion-list .item .item-inner {
  //   border-bottom: 2px solid #5DA2AD;
  // }
}

// .footer-user-registration {
//   .register-button {
//     height: 5rem;
//     background-color: #fff;
//     font-size: 1.6rem;
//     margin: 0px;
//   }
// }