<!--
  Generated template for the Cart page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="page-cart-header">

  <ion-navbar color="ui-theme">
    <button ion-button menuToggle  showWhen="android">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="page-cart" #container>

  <div style="display: flex; justify-content: space-between;">
    <ion-label *ngIf="cartItems.length === 0 && !isLoading" style="text-align: center; width: 100%; color: #999;">No Items in Cart.</ion-label>
    <ion-spinner *ngIf="isLoading" class="loading-spinner" color="ui-theme"></ion-spinner>
  </div>

  <ion-card ion-item no-lines class="cart-status" *ngIf="shopIsVisible">
    <ion-avatar item-left>
      <img [src]="cartShop.profilePicture">
    </ion-avatar>
    <h2 style="color: #607D8B; font-weight: 700;">{{cartShop.username}}</h2>
    <div class="item-status-wrapper">
      <ion-icon name="cart"></ion-icon>
      <div class="item-status">&nbsp;CURRENTLY ACTIVE</div>
    </div>
  </ion-card>

  <ion-card *ngFor="let item of cartItems; let i = index;">
    <ion-row>
      <ion-col col-4 class="item-card-icon-col" [lazyLoad]="item.img1" [scrollObservable]="container.ionScroll" no-padding>
      </ion-col>
      <ion-col class="item-card-content-col" no-padding>
        <ion-card-content class="item-card-content" style="padding: 1rem 1rem 0.5rem 1rem;">
          <ion-card-title class="item-card-content-title" no-margin no-padding>
            {{ toTitleCase(item.nameEn) }}
          </ion-card-title>
        </ion-card-content>
        <ion-card-content class="item-card-content-desc" style="padding: 0rem 2rem 0 0.8rem;">
          <ion-badge style="font-size:1.3rem;">{{ item.quantity + " " + item.unit.toUpperCase() + " X "}}{{item.price + " " + cartShop.currency}}</ion-badge>
        </ion-card-content>
        <ion-card-content style="padding: 0.4rem 2rem 2rem 1rem;">
          <p class="item-card-content-desc" no-margin *ngIf="item.commentDtl">
            <ion-icon name="quote" color="dark"></ion-icon>&nbsp;&nbsp;<span style="color:#666;"><i>"{{ item.commentDtl }}"</i></span>
          </p>
          <button class="comment-button" *ngIf="!item.commentDtl" (tap)="addComment(i);">
            Add Comment
          </button>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <hr style="margin: 0;" />
    <ion-row no-padding>
      <ion-col text-center style="padding:0">
        <button ion-button color="blue-grey" clear small class="btnCartAction" (tap)="removeItem(item)">
          <ion-icon name="trash" style="font-size: 2.5rem;"></ion-icon>
          &nbsp;Remove
        </button>
      </ion-col>
      <ion-col text-center style="padding:0">
        <button ion-button color="ui-theme" clear small class="btnCartAction" (tap)="viewItem(item)">
          <ion-icon name="bookmark" style="font-size: 2.5rem;"></ion-icon>
          &nbsp;View
        </button>
      </ion-col>
      <ion-col text-center style="padding:0">
        <button ion-button color="primary" clear small class="btnCartAction">
          <ion-icon name="pricetag" style="font-size: 2.5rem;"></ion-icon>
          &nbsp;{{item.quantity*item.price}} {{cartShop.currency}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--<ion-fab top right edge>
    <button color="ui-theme-dark" ion-fab (tap)="checkAmount()">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
  </ion-fab>-->
  <div style="width:100%; height:6rem; display:block;"></div>
</ion-content>

<ion-footer class="cartFooter"  *ngIf="cartItems.length > 0" no-shadow>
  <button class="cartButton" (tap)="checkAmount();">CHECKOUT (  {{totalAmount}} SAR )</button>
</ion-footer>