<!--
  Generated template for the DeliverySchedule page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Select Delivery Schedule</ion-title>
  </ion-navbar>

</ion-header>-->



<ion-content class="page-delivery_schedule">
  <h4 class="registerHead"> Select Delivery Schedule </h4>
    <div class="card-background-page">
      <!--<img src="assets/img/ui_icons/location-marker-flat.png" width="50%" class="countrySelectIcon" alt="Location Icon" />

      <h4 class="countryHead"> Select Location </h4>-->
      <!--<ion-card *ngFor="let country of countries" [navPush]="categoryPage"  [navParams]="country">-->
        <!--<img class="card-image" src="../../assets/img/country_cover/{{ country.imageUrl }}"/>-->
        <!--<div class="card-title">{{ country.title }}</div>-->
        <!--<div class="card-subtitle">{{ country.numCities }} CITIES AVAILABLE</div>-->
      <!--</ion-card>-->
      <ion-list style="margin: 3rem;">
        <ion-item class="selectItem">
          <ion-label style="-webkit-flex: 0;-ms-flex: 0;flex: 0;">Schedule</ion-label>
          <ion-select [(ngModel)]="deliverySchedule" (ionChange)="deliveryScheduleChanged()" class="selectInput" interface="action-sheet" okText="Select" cancelText="Cancel">
            <!--<ion-option [value]="-1" [selected]="true"> - SELECT - </ion-option>-->
            <ion-option *ngFor="let schedule of schedules" [value] = "schedule">{{ schedule.schDescEn }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="registerItem" style="margin-top: 4rem;">
          <button ion-button full clear (click)="showOrderSummary()" class="register-button">
            <ion-icon name="checkmark-circle"></ion-icon>
            &nbsp;&nbsp;Proceed
        </button>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
