.page-order-summary {
    ion-label {
        margin: 0;
    }
    .item-status-wrapper {
        height: 2rem;
        display: inline-flex;
        align-items: center;
        font-size: 2rem;
        margin-right: 1rem;
    }
    .item-status-head {
        color: #222;
        font-weight: 700;
        width: 70vw;
        overflow: hidden;
        white-space: nowrap;
    }
    .item-status {
        font-size: 1rem;
        padding-top: 0.1rem;
        font-weight: 700;
    }
    .list-content-desc {
        color: $ui-theme-primary;
    }
    .item-price-badge {
        padding: 0.5rem 0.8rem;
        margin: 0.3rem 0rem 0.3rem 0.5rem !important;
        border-radius: 1.2rem;
    }
    .content-span {
        position: absolute;
        right: 1rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
    .address-item {
        .item-inner {
            margin-left:0 !important;
        }
    }
    .color-primary {
        color: $ui-theme-primary;
    }
    .color-secondary {
        color: $ui-theme-secondary;
    }
}

.summeryFooter {
    background-color: #fafafa;
    .summeryButton {
        background-color: $ui-theme-dark;
        width: 92vw;
        border-radius: 5px;
        height: 8vh;
        color: #fff;
        font-weight: 700;
        margin: 1.5rem;
    }
}

.summeryFooter::before {
    background-image: url('');
}