.page-order-summary {
    ion-label {
        margin: 0;
    }
    .item-status-wrapper {
        height: 2rem;
        display: inline-flex;
        align-items: center;
        font-size: 2rem;
        margin-right: 1rem;
    }
    .item-status-head {
        color: #222;
        font-weight: 700;
        width: 70vw;
        overflow: hidden;
        white-space: nowrap;
    }
    .item-status {
        font-size: 1rem;
        padding-top: 0.1rem;
        font-weight: 700;
    }
    .list-content-desc {
        line-height: 2.6rem;
        color: $ui-theme-primary;
    }
    .item-price-badge {
        padding: 0.5rem 0.6rem;
        margin: 0 !important;
        border-radius: 0.5rem;
        background-color: #eee;
        color: #888;
    }
    .price-calc-item {
        margin: 0;
        padding: 0;
        padding-left: 4rem;
        color: $ui-theme-primary;
        min-height: 2rem;
        line-height: 2.6rem;

    }
    .price-calc-label {
        margin: 0;
    }
    .color-primary {
        color: $ui-theme-primary;
    }
    .color-secondary {
        color: $ui-theme-secondary;
    }
}

.summeryFooter {
    background-color: #fff;
    .summeryButton {
        background-color: $ui-theme-dark;
        width: calc(100vw - 2rem);
        border-radius: 5px;
        height: 5rem;
        color: #fff;
        font-weight: 700;
        margin: 1rem;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}

.summeryFooter::before {
    background-image: url('');
}
.page-order-summary-header::after {
    background-image: url('');
}