.page-user-profile {
  ion-label {
    margin: 0;
  }
  .scroll {
    height: 100%
  }
  #map {
    width: 100%;
    height: 100%;
  }
  .header-image {
    height: 40vh;
    background-position: 50% center;
    box-shadow: inset 0 3rem 6rem -1rem #000;
  }
  .main-content {
    width: 100%;
    background-color: white;
  }
  .btn-icon-edit {
    font-size: 2.4rem;
    min-height: auto;
  }
  .list-content-desc {
    color: $ui-theme-primary;
  }
  .item-map {
    min-height: auto;
    padding: 0;
    .item-inner {
      padding-right: 0;
    }
  }
}

.profile-header {
  .toolbar {
    position: absolute;
    .toolbar-background {
      background: transparent;
      border-width: 0 !important;
      transition: background-color 0.5s ease-in-out;
    }
    .bar-button {
      text-shadow: 1px 1px 3px #000;
    }
    .toolbar-title {
      color: #fff;
      text-shadow: 1px 1px 3px #000;
    }
  }
}