<!--
  Generated template for the UserProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="profile-header" id="header-content">

  <ion-navbar color="ui-theme" id="nav-content">
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ng-style="color:white;">Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="choosePhoto()" class="btn-edit-image">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page-user-profile" parallax-header (ionScroll)="checkScroll($event)">
  <div class="header-image" id="headerImage" #headerImage>
    <div style="display: block; justify-content: space-between; width:100%; height: 40vh; line-height: 40vh; text-align:center;">
      <ion-spinner *ngIf="isLoading" class="loading-spinner-head" color="light"></ion-spinner>
    </div>
  </div>

  <div class="main-content" id="profile-content" no-padding>

    <ion-list no-lines margin-left margin-right style="margin-bottom:0.2rem; margin-top:1rem;">
      <ion-item>
        <ion-icon name="at" color="warning" item-start></ion-icon>
        <div style="font-weight: 700;">Email</div>
      </ion-item>
      <ion-item style="min-height:auto;" *ngIf="!isLoading">
        <ion-icon style="min-height: auto;" item-start></ion-icon>
        <div class="list-content-desc">
          {{user.email}}
        </div>
        <ion-icon class="btn-icon-edit" color="blue-grey" item-end></ion-icon>
      </ion-item>
      <ion-spinner *ngIf="isLoading" class="loading-spinner" color="warning"></ion-spinner>
    </ion-list>

    <ion-list (tap)="presentUpdateModal('Name');" no-lines margin-left margin-top margin-right style="border-top: 1px solid #eee;margin-bottom:0.2rem;">
      <ion-item>
        <ion-icon name="person" color="ui-theme" item-start></ion-icon>
        <div style="font-weight: 700;">Name</div>
      </ion-item>
      <ion-item style="min-height:auto;" *ngIf="!isLoading">
        <ion-icon style="min-height: auto;" item-start></ion-icon>
        <div class="list-content-desc">
          {{user.username}}
        </div>
        <ion-icon name="create" class="btn-icon-edit" color="blue-grey" item-end></ion-icon>
      </ion-item>
      <ion-spinner *ngIf="isLoading" class="loading-spinner" color="ui-theme"></ion-spinner>
    </ion-list>

    <ion-list (tap)="presentUpdateModal('Phone');" no-lines margin-left margin-right style="border-top: 1px solid #eee; margin-bottom:0.2rem;">
      <ion-item>
        <ion-icon name="call" color="secondary" item-start></ion-icon>
        <div style="font-weight: 700;">Phone</div>
      </ion-item>
      <ion-item style="min-height:auto;" *ngIf="!isLoading">
        <ion-icon style="min-height: auto;" item-start></ion-icon>
        <div class="list-content-desc">
          +966-{{ (user.phone) ? user.phone : 'Not Specified' }}
        </div>
        <ion-icon name="create" class="btn-icon-edit" color="blue-grey" item-end></ion-icon>
      </ion-item>
      <ion-spinner *ngIf="isLoading" class="loading-spinner" color="secondary"></ion-spinner>
    </ion-list>

  </div>
</ion-content>