<ion-header class="profile-header">

  <ion-navbar color="ui-theme">
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ng-style="color:white;">Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [disabled]="isLoading" (click)="editProfile()" style="color: white;">
              <ion-icon name="create"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="page-user-profile">
  <div class="cover-background" style="background-image:url('assets/img/cover/welcome_background.webp');">
  </div>
  <div class="cover-content">
    <div class="profile-pic-border">
      <div *ngIf="isLoading && !isError" class="profile-pic" style="display: block; justify-content: space-between; width:100%; line-height: 42vmin; text-align:center;">
        <ion-spinner class="loading-spinner" style="margin:auto; height:42vmin; width:3rem;" color="dark"></ion-spinner>
      </div>
      <img *ngIf="!isLoading" [defaultImage]="'assets/img/cover/profile_default.webp'" [lazyLoad]="user.profilePicture" class="profile-pic"
      />
      <div class="profile-pic-edit" ion-button (tap)="triggerFileUpload(img);">
        <ion-icon name="image" style="margin: 0;"></ion-icon>
      </div>
    </div>

    <div style="text-align:center; margin-top: 7rem;">
      <div *ngIf="isLoading" style="display: block; justify-content: space-between; width:100%; height: 5vh; line-height: 5vh; text-align:center;">
        <ion-spinner class="loading-spinner" color="light"></ion-spinner>
      </div>
      <h1 style="color:#fff; margin:0;" *ngIf="!isLoading && user.username"> {{user.username}} </h1>
      <h6 style="color:#fff;font-weight: 400;margin:0;" *ngIf="!isLoading && user.email"> {{user.email}} </h6>
      <h6 style="color:#fff;font-weight: 300;margin: 1rem 0;" *ngIf="!isLoading && user.phone"> +94 {{user.phone}} </h6>
    </div>

    <div style="display: block; margin-top: 8rem;" *ngIf="isError && !isLoading">
      <ion-label style="text-align: center; width: 100%; color: #eee;">Could not connect to server.</ion-label>
      <button style="display:block; color: #673ab7; margin:0 auto; padding: 1rem 2rem; border-radius: 0.5rem;" (tap)="retryServer();">TRY AGAIN</button>
    </div>

  </div>
  <input type="file" id="picSelect" #img name="picSelect" style="opacity: 0;" accept="image/*" (change)="chooseImage(img)"
    multiple="false" />
  <div style="display: table;  clear: both;"></div>

  <ion-fab bottom right style="margin: 0.5rem;">
    <button ion-fab color="light" [disabled]="isLoading" (click)="editProfile()">
            <ion-icon name="create" color="ui-theme"></ion-icon>
        </button>
  </ion-fab>
</ion-content>