.page-user-profile {
  background-color: #efefef;
}

.profile-header {
  .toolbar {
    position: absolute;
    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: #fff;
    }
  }
}