.page-checkout-options {
    background-color: #E8EAF6;
    .input-checkout-comment {
        padding: 0 2rem;
        color: #666;
        font-size: 1.7rem;
    }
    textarea {
        margin: 0;
        margin-bottom: 2rem;
    }
}

.checkoutOptionsFooter {
    background-color: #E8EAF6;
    .checkoutOptionsButton {
        background-color: $ui-theme-dark;
        width: calc(100vmin - 2rem);
        border-radius: 5px;
        height: 8vh;
        color: #fff;
        font-weight: 700;
        margin: 1rem;
    }
}

.checkoutOptionsFooter::before {
    background-image: none;
}