.profile-header-categories {}

.page-categories {
  background-color: #E8EAF6;
  ion-card {
    position: relative;
    text-align: center;
    height: 24vh;
    background-size: cover;
    background-position: 50%;
  }
  .card-title {
    position: absolute;
    top: 30%;
    font-size: 1.8em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 4px 10px #000;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 45%;
    background-color: transparent;
    padding: 0 15%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 6px #000;
  }
  .loading-spinner {
    width: 5rem;
    height: 5rem;
    text-align: center;
    margin: 2rem auto;
    display: block;
  }
}