<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ng-style="color:white;">Categories</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="openModal()">
              <ion-icon name="cart"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-categories">
    <div class="card-background-page">
          <ion-grid>
              <ion-row *ngFor="let i of rows">
                  <ion-col  *ngFor="let category of categories | slice:(i*2):(i+1)*2" >
                      <ion-card style="margin: 2px 2px 2px 2px; width: auto; height: 12rem;" [navPush]="itemListPage"  [navParams]="category">
                          <img class="card-image" src="{{ category.imageEn }}"/>
                          <div class="card-title">{{ category.nameEn }}</div>
                          <div class="card-subtitle">{{ category.descriptionEn }}</div>
                      </ion-card>
                  </ion-col>
              </ion-row>
          </ion-grid>


    </div>
</ion-content>
