.page-categories {
    .item {
        background-color: transparent;
        .item-inner {
            background-image: none !important;
            padding: 0 !important;
        }
    }
    background-color: #E8EAF6;
    ion-card {
        position: relative;
        text-align: center;
        height: 40vmin;
        background-size: cover;
        object-fit: cover;
        background-position: 50%; // background-color: #eee;
        margin-bottom: 0;
        margin-right: 0;
    }
    .card-button {
        height: 100%;
        padding: 0;
        .button-effect {
            background-color: #fff;
            opacity: .3;
        }
    }
    .card-title {
        text-align: center;
        font-size: 2.4rem;
        display: block;
        text-transform: uppercase;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 2px 5px #000;
        min-height: auto;
        .label {
            margin: 0;
        }
    }
    .card-subtitle {
        margin: 0.5rem auto 0 auto;
        font-size: 1.3rem;
        font-style: italic;
        text-align: center;
        background-color: transparent;
        display: block;
        width: 85%;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        min-height: auto;
        .label {
            margin: 0;
        }
    }
    .loading-spinner {
        width: 5rem;
        height: 5rem;
        text-align: center;
        margin: 2rem auto;
        display: block;
    }
}