<ion-header class="profile-header-categories">
    <ion-navbar color="ui-theme">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Categories</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="openCart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge *ngIf="cartCount > 0" color="primary" class="badge badge-assertive header-badge">{{ cartCount }}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="page-categories" #container>
    <div style="display: flex; justify-content: space-between;">
        <ion-label *ngIf="!isAvailable && !isLoading" style="margin-top: 6rem; text-align: center; width: 100%; color: #999;">No Categories Available.</ion-label>
        <ion-spinner *ngIf="isLoading" class="loading-spinner" color="ui-theme"></ion-spinner>
    </div>
    <ion-grid no-margin no-padding>
        <ion-row responsive-sm no-margin no-padding>
            <ion-col col-12 col-md-6 col-xl-4 *ngFor="let category of categories"  (tap)="openCategory(category)" no-margin no-padding>
                <ion-card id="cat{{category.categoryId}}" [defaultImage]="defaultImage" [lazyLoad]="category.imageEn"
                    [scrollObservable]="container.ionScroll">
                    <div ion-item class="card-title">{{ category.nameEn }}</div>
                    <div ion-item class="card-subtitle" ion-item>{{ category.descriptionEn }}</div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="height:1rem; width:100%;"></div>
    <div style="display: block; margin-top: 45vmin;" *ngIf="isError && !isLoading">
        <ion-label style="text-align: center; width: 100%; color: #999;">Could not connect to server.</ion-label>
        <button style="display:block; margin:0 auto; padding: 1rem 2rem; border-radius: 0.5rem;" (tap)="retryServer();">TRY AGAIN</button>
    </div>
</ion-content>