<ion-menu [content]="content" style="background-color: #efefef;" class="menu-app">
  <ion-header (tap)="loginOrProfile()" class="menu-header">
    <!--<ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>-->
    <div style="background-image:url('assets/img/cover/cover.jpg');" class="cover-pic">
    <img src="assets/img/cover/cover.jpg" style="vertical-align: top;width: 100%; z-index: -100; opacity: 0;">
      <img [attr.src]="profilepic" alt="Cover" class="profile-pic" />

      <div ion-item no-lines class="profile-detail-item">
        <div *ngIf="isLogin">{{ user.username }}</div>
        <div *ngIf="isLogin" class="profile-status-wrapper">
          <!--<ion-icon name="at"></ion-icon>-->
          <div class="profile-status">{{ user.email }}</div>
        </div>

        <div *ngIf="!isLogin">Login to BeecMe</div>

        <ion-note item-end>
          <button ion-button round icon-only class="profile-action-button">
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
        </ion-note>
      </div>


    </div>

    <!--<ion-label class="profile-label" *ngIf="!isLogin">LOGIN</ion-label>
    <ion-label class="profile-label" [style.left]="'2rem'" *ngIf="isLogin">{{ profileLabel }}</ion-label>-->
    <!--<ion-label style="position: absolute; top: 12rem; left: 3rem; color: #fff;">0770040302</ion-label>-->
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngStyle]="{'padding-top': p.component === 'Categories' ? '0.4rem' : 'auto', 'border-top': p.devide ? '1px solid #eee' : '0px'}"[class.active-menu]="checkActivePage(p)">
        <ion-icon [name]="p.icon" [color]="p.color" item-left></ion-icon>
        {{p.title}}
        <ion-badge color="primary" *ngIf="p.title == 'My Cart' && cartCount > 0" style="margin-left: 1rem;">{{cartCount}} {{ cartCount > 1 ? "items" : "item"}}</ion-badge>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>