// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-ios {
    padding: 4px;
    min-height: 5rem;
}

.header-badge {
    top: -10px !important;
    position: relative;
    left: -10px !important;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    padding: 3px;
}

.alert-style {
    .alert-wrapper {
        border-radius: 8px;
    }
    .alert-button {
        padding: 1rem 2rem;
        border-radius: 4px;
    }
    .alert-button-ios {
        border-radius: 0 !important;
    }
}

.alert-button-primary {
    color: white !important;
    background-color: $ui-theme-primary !important;
    button {
        background-color: $ui-theme-primary !important;
        color: white;
    }
}

.alert-button-primary-plain {
    color: $ui-theme-primary !important;
    button {
        color: $ui-theme-primary !important;
    }
}

.alert-button-danger {
    color: white !important;
    background-color: $ui-theme-danger !important;
    button {
        background-color: $ui-theme-danger !important;
        color: white;
    }
}

.alert-button-danger-plain {
    color: $ui-theme-danger !important;
    button {
        color: $ui-theme-danger !important;
    }
}

.alert-button-success {
    color: white !important;
    background-color: $ui-theme-secondary !important;
    button {
        background-color: $ui-theme-secondary !important;
        color: white;
    }
}

.alert-button-success-plain {
    color: $ui-theme-secondary !important;
    button {
        color: $ui-theme-secondary !important;
    }
}

.action-feedback-btn {
    color: gold !important;
}

.action-cancel-btn {
    color: $ui-theme-danger !important;
}

.action-blue-btn {
    color: $ui-theme-primary !important;
}

.menu-app {
    .menu-header {
        background-color: #000;
    }
    .active-menu {
        background-color: #E8EAF6;
    }
    .menu-header::after {
        background-image: none;
        height: 0;
    }
    .cover-pic {
        // display: inline-flex;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50%; // height: auto; // opacity: 0.8;
        // width: 100%; // -webkit-filter: blur(5px);
        /* Safari 6.0 - 9.0 */
        // filter: blur(2px);
    }
    .profile-pic {
        position: absolute;
        top: 2rem;
        left: 2rem;
        width: 7rem;
        height: 7rem;
        border-radius: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .profile-detail-item {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        color: white;
        ion-label {
            margin: 0;
        }
        .item-inner {
            padding: 0;
        }
    }
    .profile-status-wrapper {
        height: 2rem;
        display: inline-flex;
        align-items: center;
        font-size: 2rem;
        margin-right: 1rem;
    }
    .profile-status {
        font-size: 1rem;
        padding-top: 0.1rem;
        font-weight: 700;
    }
    .profile-action-button {
        color: white;
        background: none;
        box-shadow: none;
    }
    .scroll-content {
        overflow: hidden;
    }
}