<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<button ion-button menuToggle>-->
<!--<ion-icon name="menu"></ion-icon>-->
<!--</button>-->
<!--<ion-title ng-style="color:white;">Select Your Country</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content class="page-welcome">
  <div class="card-background-page" style="background-image: url('assets/img/cover/welcome_background.jpg');">

    <ion-slides>
      <ion-slide style="height: 100vh;">
        <img src="assets/img/ui_icons/logo_no_background.webp" width="50%" class="welcomeIcon" alt="Location Icon" />
        <h4 class="welcomeHead"> Welcome to BeecMe </h4>


        <ion-footer class="welcomeFooter">
          <div class="welcomeDescription">
            BeecMe is at the forefront of the online delivering industry in the GCC. Housing a wide variety of services from your kitchen
            needs to servicecs and maintenance, we make customer convenience our top priority. No matter what needs you are
            craving, find it on Beecme.com in KSA, Qatar, UAE and Oman.
          </div>
          <button class="welcomeButton" (click)="checkIsAgreedToTerms();">GET STARTED</button>
        </ion-footer>
      </ion-slide>

<!--
      <ion-slide style="height: 100vh;">
        <a class="btnSlideBack" (click)="unlockSwipe(); goToSlide(0);">
          <ion-icon name="arrow-back"> &nbsp;Back</ion-icon>
        </a>
        <img src="assets/img/ui_icons/logo_no_background.webp" width="50%" class="welcomeIcon" alt="Location Icon" />
        <h4 class="welcomeHead"> Terms and Conditions </h4>

        <ion-scroll scrollY="true" class="welcomeDescription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </ion-scroll>
        <ion-footer class="welcomeFooter">
          <ion-item no-lines class="checkboxTermsAndConditions">
            <ion-checkbox [(ngModel)]="isAgreedToTerms"></ion-checkbox>
            <ion-label>I Agree to the <span style="color:#2196F3;">Terms and Conditions</span></ion-label>
          </ion-item>
          <button class="welcomeButton" style="margin-top:0.25rem;" (click)="checkIsAgreedToTerms()">PROCEED</button>
        </ion-footer>
      </ion-slide>-->


      <ion-slide>
        <a class="btnSlideBack" (click)="unlockSwipe(); goToSlide(0); lockSwipe();">
          <ion-icon name="arrow-back"> &nbsp;Back</ion-icon>
        </a>
        <img src="assets/img/ui_icons/location-marker-flat.webp" width="50%" class="countrySelectIcon" alt="Location Icon" />

        <h4 class="countryHead"> Tell us know where you live </h4>
        <ion-list style="margin: 3rem;">
          <ion-item class="selectItem">
            <ion-label style="max-width:30vw;">Country</ion-label>
            <ion-select [(ngModel)]="selectedCountry" (ionChange)="countryChanged()" class="selectInput" interface="action-sheet" okText="Select"
              cancelText="Cancel">
              <ion-option *ngFor="let country of countries" [value]="country">{{ country.nameEn }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="selectItem" *ngIf="countrySet">
            <ion-label>Province</ion-label>
            <ion-select [(ngModel)]="selectedProvince" (ionChange)="provinceChanged()" class="selectInput" interface="action-sheet" okText="Select"
              cancelText="Cancel">
              <ion-option *ngFor="let province of provinces" [value]="province">{{ province.nameEn }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="selectItem" *ngIf="countrySet && provinceSet">
            <ion-label>City</ion-label>
            <ion-select [(ngModel)]="selectedCity" (ionChange)="cityChanged()" class="selectInput" interface="action-sheet" okText="Select"
              cancelText="Cancel">
              <ion-option *ngFor="let city of cities" [value]="city">{{ city.nameEn }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>