.page-update-profile {
  background-color: #E8EAF6;
  // .item-inner {
  //   border-bottom-color: transparent !important;
  //   box-shadow: none !important;
  //   margin-left: 1rem !important;
  // }
  .update-item {
    height: 6rem;
    margin-bottom: -2px;
  }
  .update-button {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 4rem;
  }
}