.page-first_launch {
  background-color: $ui-theme;
  .countrySelectIcon {
    height: 25vh;
    width: auto;
    margin: 8vh auto;
    display: block;
  }
  .countryHead {
    color: $ui-theme-dark;
    font-size: 6vw;
    text-align: center;
    margin-top: 10%;
  }
  .welcomeIcon {
    height: 20vh;
    width: auto;
    margin: 3vh auto;
    display: block;
  }
  .welcomeHead {
    color: $ui-theme-dark;
    font-size: 6vw;
    text-align: center;
  }
  .welcomeDescription {
    padding: 4vw;
    margin: 4vw;
    text-align: center;
    color: $ui-theme-dark; // background-color: #8dd234;
    border-radius: 5px;
    font-size: 5vw;
    height: 50vh;
  }
  .checkboxTermsAndConditions {
    background-color: transparent;
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 4vw;
  }
  .welcomeFooter {
    background-color: $ui-theme;
  }
  .welcomeFooter::before {
    background-image: url('');
  }
  .welcomeButton {
    background-color: $ui-theme-dark;
    width: 92vw;
    border-radius: 5px;
    height: 8vh;
    color: white;
    font-size: 4vw;
    margin: 4vw;
  }
  .selectInput {
    padding: 2rem;
    min-width: 50vw;
    text-align: right;
  }
  .selectItem {
    margin-bottom: 0.5rem;
    border-radius: 6px;
    font-size: 4vw;
  }
  .toolbar-background {
    background-color: #007aff;
  }
  .toolbar-title,
  .bar-buttons {
    color: white;
  }
  .btnSlideBack {
    float: left;
    margin: 3vh 6vw;
    position: absolute;
    left: 0;
    top: 0;
    color: $ui-theme-dark;
    font-size: 5vw;
  }
  .card-image {}
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      height: 10em;
    }
    .card-title {
      position: absolute;
      top: 25%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
}