.page-first_launch {
  background-color: #007AFF;

  .countrySelectIcon {
    height: 30vh;
    width: auto;
    margin: 8vh auto;
    display: block;
  }

  .countryHead {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10%;
  }

  .selectInput {
    padding: 2rem;
  }

  .selectItem {
    margin-bottom: 0.5rem;
    border-radius: 6px;
  }

  .toolbar-background {
    background-color: #007aff;
  }

  .toolbar-title, .bar-buttons {
    color: white;
  }

  .card-image {

  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 10em;
    }

    .card-title {
      position: absolute;
      top: 25%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }

}

