.page-order-feedback {
    background-color: #E8EAF6;
    .update-item {
        height: 6rem;
        margin-bottom: -2px;
    }
    .update-button {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 4rem;
    }
}