.page-details {
  .item-image-main {
    width: 100%;
    height: 30rem;
    width: 100%;
    border: 0;
    object-fit: cover;
  }

  .item-description-paragraph {
    height: 8rem;
    overflow: overlay;
    white-space: pre-line;
  }
  //.item-description-overlay {
  //  width: 100%;
  //  text-align: center;
  //  position: absolute;
  //  bottom: 10rem;
  //  -moz-box-shadow:    0 0 10px #fff;
  //  -webkit-box-shadow: 0 0 10px #fff;
  //  box-shadow:         0 0 10px #fff;
  //}

  .item-image-scroll {
    height: 14rem;
    width: auto;
    background-color: #eeeeee;
    margin:0;
    border-radius:0;
    display: inline-block;
  }
}

.footer-details {
  .button-cart {
    height:5rem;
    background-color: $ui-theme;
    border-color: $ui-theme;
    color: #fff;
    margin:0;
  }
}

//
//.scroll-content {
//  background: #fff;
//}
//
//ion-navbar .toolbar-background {
//  background: transparent;
//}
//
//ion-content .scroll-content {
//  margin-top:0px !important;
//}
//
//.header-md::after {
//  height: 0px;
//}