.page-details {
    background-color: #E8EAF6;
    ion-label {
        margin: 0;
    }
    ion-avatar {
        img {
            object-fit: cover;
        }
    }
    .loading-spinner {
        width: 3rem;
        height: 3rem;
        text-align: center;
        margin: 1rem auto;
    }
    .header-image {
        height: 40vh;
        background-size: cover;
        background-position: 50% center;
        background-color: #c5cae9;
        box-shadow: inset 0 0 4rem -1rem #000;
    }
    .main-head {
        background-color: #666;
    }
    .item-status-wrapper {
        height: 2rem;
        display: inline-flex;
        align-items: center;
        font-size: 2rem;
        margin-right: 1rem;
    }
    .item-status {
        font-size: 1rem;
        padding-top: 0.1rem;
        font-weight: 700;
    }
    .item-action-button {
        color: #333;
        background: none;
        box-shadow: none;
        margin: 0;
    }
    .color-secondary {
        color: $ui-theme-secondary;
    }
    .color-gold {
        color: gold;
    }
    .color-primary {
        color: $ui-theme-primary;
    }
    .item-title {
        font-size: 2rem;
        background-color: transparent;
        margin-bottom: 0.5rem;
        padding: 0;
        color: #eee;
        .item-inner {
            padding: 0;
        }
    }
    .item-comment-paragraph {
        color: #666;
        background-color: #C5CAE9;
        padding: 1.5rem;
        border-radius: 4px;
        margin: 0 2rem 2rem 2rem;
        text-align: center;
    }
    .item-description-paragraph {
        padding: 2rem 1rem;
        color: #666;
        text-align: center;
    }
    .btn-cart-add {
        height: 4rem;
        margin: 0;
        color: $ui-theme;
    }
    .item-image-scroll {
        height: 14rem;
        width: auto;
        background-color: #eeeeee;
        margin: 0;
        border-radius: 0;
        display: inline-block;
    }
}

.details-header::after {
    background-image: url('');
}