.item-searchbar {
  background-color: #32db64;
}

.page-item_list {
  background-color: #eeeeee;

  .item-card-icon-col {
    padding:0;
  }
  .item-card-content-col {
    padding: 0;
  }

  .item-card-icon {
    width:100%;
    object-fit: cover;
  }
  .item-card-content {
    padding: 0rem 1rem;
  }

  .item-card-content-title {
    font-size: 1.8rem;
    line-height: 1.0;
  }

  .item-card-content-desc {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.4;
  }

}

