<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle class="button button-icon button-clear ion-navicon" menu-toggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ng-style="color:white;">Available {{ category.nameEn }}</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="openModal()">
              <ion-icon name="cart"></ion-icon>
          </button>
          <button ion-button icon-only (click)="showSearch()" *ngIf="!searchVisible">
              <ion-icon name="search"></ion-icon>
          </button>
          <button ion-button icon-only (click)="hideSearch()" *ngIf="searchVisible">
              <ion-icon name="close"></ion-icon>
          </button>
      </ion-buttons>

  </ion-navbar>
    <ion-searchbar class="item-searchbar" *ngIf="searchVisible"
            (animated)="true" (placeholder)="Search"
            [(ngModel)]="searchQuery"
            [showCancelButton]="true"
            (ionInput)="onSearchTextEntered($event)"
            (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
</ion-header>

<ion-content class="page-item_list">
    <ion-card *ngFor="let item of items; let i = index;" [navPush]="detailsPage" [navParams]="item">
        <ion-row>
            <ion-col width-25 class="item-card-icon-col">
                <img class="item-card-icon" src="{{ item.img1 }}">
            </ion-col>
            <ion-col width-75 class="item-card-content-col">
                <ion-card-content class="item-card-content">
                    <ion-card-title class="item-card-content-title">
                        {{ item.nameEn }}
                    </ion-card-title>
                    <p class="item-card-content-desc">
                        {{ item.descriptionEn }}
                    </p>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-card>


    <!--<ion-list>-->

        <!--<ion-item>-->

            <!--<ion-thumbnail item-left>-->
                <!--<img src="../../assets/img/items/F001.jpg">-->
            <!--</ion-thumbnail>-->
            <!--<h2>{{ item.title }}</h2>-->
            <!--<p>{{ item.desc }}</p>-->
            <!--<button ion-button clear item-right>View</button>-->
        <!--</ion-item>-->

        <!--<ion-item>-->

            <!--<ion-thumbnail item-left>-->
                <!--<img src="../../assets/img/items/F001.jpg">-->
            <!--</ion-thumbnail>-->
            <!--<h2>{{ item.title }}</h2>-->
            <!--<p>{{ item.desc }}</p>-->
            <!--<button ion-button clear item-right>View</button>-->
        <!--</ion-item>-->

    <!--</ion-list>-->
</ion-content>
