<ion-header>
    <ion-navbar color="ui-theme">
            <button ion-button menuToggle showWhen="android">
                <ion-icon name="menu"></ion-icon>
            </button>
        <ion-title ng-style="color:white;">{{ shop.username }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="openCart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge *ngIf="cartCount > 0" color="primary" class="badge badge-assertive header-badge">{{ cartCount }}</ion-badge>
            </button>
            <!--<button ion-button icon-only (tap)="showSearch()" *ngIf="!searchVisible">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (tap)="hideSearch()" *ngIf="searchVisible">
                <ion-icon name="close"></ion-icon>
            </button>-->
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar class="item-searchbar" *ngIf="searchVisible" (animated)="true" placeholder="Comming Soon..." [(ngModel)]="searchQuery"
        [showCancelButton]="true" (ionInput)="onSearchTextEntered($event)" (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
</ion-header>

<ion-content class="page-item_list" #container>

    <div style="display: flex; justify-content: space-between;">
        <ion-label *ngIf="items.length === 0 && !isLoading" style="text-align: center; width: 100%; color: #999;">No {{ category.nameEn }} Available. Please try a different category</ion-label>
        <ion-spinner *ngIf="isLoading" class="loading-spinner" color="ui-theme"></ion-spinner>
    </div>

    <ion-refresher (ionRefresh)="refreshList($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let item of items; let i = index;" style="height: 10rem;" (click)="viewDetails(item);">
        <ion-row style="height: 10rem;">
            <ion-col col-3 class="item-card-icon-col" [lazyLoad]="item.img1" [offset]="offset" [scrollObservable]="container.ionScroll">
            </ion-col>
            <ion-col col-9 class="item-card-content-col">
                <ion-card-content class="item-card-content">
                    <ion-card-title class="item-card-content-title">{{ toTitleCase(item.nameEn) }}</ion-card-title>
                    <p class="item-card-content-desc">{{ item.descriptionEn }}</p>
                    <img src="assets/img/ui_icons/add_shopping_cart_theme.svg" (click)="validateCart($event, item)" class="item-card-btn-cart">
                    <ion-label class="item-card-content-price">
                        {{ item.price }} SAR/{{ item.unit.toUpperCase() }}
                    </ion-label>
                </ion-card-content>
            </ion-col>
        </ion-row>
    </ion-card>

    <div style="display: flex; justify-content: space-between;">
        <ion-label *ngIf="noMoreItems" style="text-align: center; width: 100%; color: #999;">No more items</ion-label>
    </div>


    <ion-infinite-scroll (ionInfinite)="paginate($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>