.page-manage-address {
      background-color: #E8EAF6;
      .item-action-button {
            background: none;
            box-shadow: none;
      }
      .loading-spinner {
            width: 5rem;
            height: 5rem;
            text-align: center;
            margin: 2rem auto;
            display: block;
       }
}
